<tbody>
    {% for stock in stocks %}
    <tr>
        <td class="sticky-col">{{ stock["stock_name"] }}</td>
        <td>{{ stock["isin"] }}</td>
        <td><a href="{{ stock['link'] }}" target="_blank">🔗</a></td>

        {% for key, value in stock["scores"].items() %}
        <td class="{% if value == -1 %}bg-danger{% elif value == 0 %}bg-secondary{% else %}bg-success{% endif %}">
            {{ "%.2f"|format(stock.get(key, 0)) }}
        </td>
        {% endfor %}

        <!-- Score-Spalte -->
        <td class="fw-bold {% if stock['total_score'] < 0 %}bg-danger{% elif stock['total_score'] == 0 %}bg-secondary{% else %}bg-success{% endif %}">
            {{ stock["total_score"] }}
        </td>
    </tr>
    {% endfor %}
</tbody>
